{{!< layout }}
<section class="jumbotron text-center">
  <div class="container">
    <img class="img-fluid" src="{{ item.image }}" alt="Card image cap">

    <p class="lead text-muted">{{ item.description }}</p>
    <p>
      <a href="#" class="btn btn-warning">Buy now</a>
      <a href="/" class="btn btn-secondary">Back to our collection</a>
    </p>

  </div>
</section>
