<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Welcome to Express</title>
  </head>
  <body>
    <h1>{{ data }}</h1>
  </body>
</html>
